# Telegram Bot (get from @BotFather)
TELEGRAM_BOT_TOKEN=8782335587:AAEcejFgUlU7x1IEbW22n_70dqh_erY-dVw

# Your Telegram chat ID (use @userinfobot to get it)
TELEGRAM_CHAT_ID=6090484839

# Solana RPC — use a private RPC for reliability (Helius, QuickNode, etc.)
SOLANA_RPC_URL=https://polished-light-emerald.solana-mainnet.quiknode.pro/b336fbf8b07fefc4844a9902204c253373da8d91/

# Wallet private keys — base58 encoded (from Phantom: Settings > Export Private Key)
WALLET_PRIVATE_KEY_1=2uQy4nWE5VqnTZRszMbEWipSxDj9d6LjYZ5Lqm2kbFbfMrB7CqkJcEkuH5JKNdzNdWfKbT5Uk6ghLYt2zL1qgF8A
WALLET_PRIVATE_KEY_2=2cc7xxaDmwxuDdUaidBLzeD8NmtX4kmhMJzVoEuJDeSCS8b6C5ivpCSpajFi5DTzEvKae2s38kxfnBCW17aVqKHK
WALLET_PRIVATE_KEY_3=3Yap5pBTnXiDhjpbkZTGYwSEB2pCXqsw9Da5mdUY5gGsg6xuFL1ZYruaFLMFSRjpFCm9VeuHF6yqk3fcPL7cQcqh
